html {
	background: #f6f3ea;
	height:100%;
}

head {
	height: 100%;
}

body {
	height: 100%;
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

video {
	max-width: 800px;
	width: 100%;

}
